.section-1-container {
  &__header {
    background-color: white;
    font-size: 5rem;
    color: black;
    max-width: 80%;
    margin: auto;
    text-align: center;
    letter-spacing: -2.4px;
    font-weight: 500;
    padding-top: 7.2rem;
    padding-bottom: 10.8rem;
    line-height: 5.2rem;
  }
}
