.section-3-container {
  display: flex;
  padding: 2rem;
}

.hero-card {
  &:not(:last-of-type) {
    padding-right: 2rem;
  }
  &:last-of-type {
    padding-left: 2rem;
  }
  // margin-bottom: 2rem;

  &__img-box {
    // margin-bottom: 2rem;
  }

  &__img {
    display: inline-block;
    margin-bottom: 1rem;
  }

  &__text-box {
    & > h4 {
      font-size: 2rem;
      font-weight: 500;
    }
    & > p {
      font-size: 1.6rem;
      color: rgba(50, 47, 49, 0.4);
      line-height: -0.5px;
      line-height: 1.8rem;
    }
  }
}
